{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           cheshire            {:mvn/version "5.9.0"}
           stedi/lambda        {:git/url "https://github.com/StediInc/lambda.git"
                                :sha     "ee07196da27ef251a29a5ac679c69e41be29bc8d"}}
 :aliases {:dev {:extra-paths ["cdk"]
                 :extra-deps
                 {stedi/cdk-clj                     {:local/root "../"}
                  software.amazon.awscdk/apigateway {:mvn/version "1.12.0.DEVPREVIEW"}
                  software.amazon.awscdk/lambda     {:mvn/version "1.12.0.DEVPREVIEW"}}}}}
