{:paths   ["resources" "src"]
 :deps    {org.clojure/tools.deps.alpha      {:mvn/version "0.7.541"}
           pack/pack.alpha                   {:git/url    "https://github.com/juxt/pack.alpha.git"
                                              :sha        "2769a6224bfb938e777906ea311b3daf7d2220f5"
                                              :exclusions [co.paralleluniverse/capsule
                                                           com.google.cloud.tools/jib-core
                                                           org.clojure/tools.cli
                                                           org.clojure/tools.deps.alpha
                                                           progrock/progrock
                                                           rewrite-clj/rewrite-clj]}
           software.amazon.jsii/jsii-runtime {:mvn/version "0.14.2"}
           stedi/cdk-lambda                  {:local/root "./lambda"}}
 :aliases {:dev {:extra-paths ["test"]}}}
