{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           uswitch/lambada     {:mvn/version "0.1.2"}}
 :aliases {:cdk     {:main-opts ["-m" "stedi.cdk.main"]}
           :classes {:extra-paths ["classes"]}
           :dev     {:extra-paths ["cdk"]
                     :extra-deps  {software.amazon.awscdk/s3     {:mvn/version "1.20.0"}
                                   software.amazon.awscdk/lambda {:mvn/version "1.20.0"}
                                   stedi/cdk-clj                 {:local/root "../../"}
                                   uberdeps                      {:mvn/version "0.1.6"}}}}}
