{:paths   ["src"]
 :deps    {org.clojure/clojure       {:mvn/version "1.10.1"}
           uswitch/lambada           {:mvn/version "0.1.2"}
           software.amazon.awssdk/s3 {:mvn/version "2.10.21"}}
 :aliases {:cdk     {:main-opts ["-m" "stedi.cdk.main"]}
           :classes {:extra-paths ["classes"]}
           :dev     {:extra-paths ["cdk"]
                     :extra-deps  {software.amazon.awscdk/s3     {:mvn/version "1.16.3.DEVPREVIEW"}
                                   software.amazon.awscdk/lambda {:mvn/version "1.16.3.DEVPREVIEW"}
                                   stedi/cdk-clj                 {:local/root "../../"}
                                   uberdeps                      {:mvn/version "0.1.6"}}}}}
